{% extends 'base.html.twig' %}

{% block body %}
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Hypnos Groupe Hôtelier</h1>
                <p class="lead text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis cum dignissimos doloremque ducimus eligendi esse ex fugiat, fugit iste itaque iure nam natus non odit omnis porro, quam quod, reiciendis!</p>
            </div>
        </div>
    </section>
    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {% for hotel in hotels %}
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="/uploads/{{ hotel.picture }}">

                        <div class="card-body">
                            <p class="card-text">{{ hotel.description }}, {{ hotel.city }}, {{ hotel.address }}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="{{ path('user_show_hotel', {'idHotel': hotel.id}) }}" class="btn btn-info">Voir les chambres</a>
                                    <a href="https://www.booking.com/" type="button" class="btn btn-sm btn-success" target="_blank">Voir depuis Booking</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
