{% extends 'manager/base.html.twig' %}

{% block body %}

    <div class="container">
        <h1 class="h3 mb-3 font-weight-normal mt-5 pt-5">carpentry</h1>
        {{ form_start(form) }}
        <label for="">Titre de la suite </label>
        {{ form_row(form.name) }}
        <label for="">Description de la suite</label>
        {{ form_row(form.description) }}
        <label for="">Prix de la suite</label>
        {{ form_row(form.price) }}
        <label for="">Description de la suite</label>
        {{ form_row(form.mainPicture) }}
        {{ form_widget(form.submit, {'label': 'Crée la suite'}) }}
        {{ form_end(form) }}
    </div>
{% endblock %}